/*
.contenido_generico{
  font-family: $font-roboto;
  margin: 0 auto;
  width: 80%;
}
.header{
  @extend .contenido_generico;
  background-color: $colors-eerie-black;
  //concatenar la clase
  &_logo-envoltura{
    width: 5px;
  }
}
*/